.LoginForm {
    display: flex;
    flex-direction: column;
    width: 400px;

    @media screen {
        width: 320px;
    }
}

.input {
    margin-top: 10px;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}
