.LIST {
    .card {
        margin: 30px 30px 0;
    }
}

.GRID {
    .card {
        margin: 30px;
    }
}

.grid {
    margin: 0 30px;
}

.grid,
.skeleton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}
