.InputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &.full-width {
        width: 100%;
    }
}

.input {
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    background-color: #f6f6f6;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgb(66 153 225 / 50%);
    }
}

.input-label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}
