.PortfolioScrollButtons {
    position: fixed;
    height: 72px;
    z-index: 100;
    background: linear-gradient(to bottom, var(--bg-redesigned) 0%, rgb(255 255 255 / 0%) 100%);
}

.card {
    width: 264px;
}
