.app.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #dbdbdb;

    --primary-color: #c5bf10;
    --secondary-color: #c99616;
    --inverted-primary-color: #47534f;
    --inverted-secondary-color: #184724;
}