.app_orange_theme {
    --bg-color: #f8e9ce;
    --inverted-bg-color: #f47600;
    --primary-color: #b20000;
    --secondary-color: #8a0b00;
    --inverted-primary-color: #fbf9f4;
    --inverted-secondary-color: #ed5645;
}
