.app_orange_theme {
    --bg-color: #f8e9ce;
    --inverted-bg-color: #f47600;
    --primary-color: #b20000;
    --secondary-color: #8a0b00;
    --inverted-primary-color: #fbf9f4;
    --inverted-secondary-color: #ed5645;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #e0d8ba;

    // listbox
    --listbox-bg: #e0d8ba;
}
